$post-line-height: 24px;

.post-item {
    padding: $base-padding * 2 $base-padding * 3;
    border-bottom: 1px solid;
    @include themify {
        background-color: themed("backgroundColor");
        color: themed("textColor");
    }

    .avater-container {
        height: 1.5rem;
        width: 1.5rem;
        position: relative;

        img {
            overflow-clip-margin: content-box;
            overflow: clip;
        }

        .avater-image {
            border-radius: 50%;
            box-sizing: border-box;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .author-and-date{
        font-size: medium;

    }

    .post-title {
        line-height: $post-line-height;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: $post-line-height * 3;
        font-size: 16px;
        @include themify {
            color: themed("vp-c-text-1");
        }
    }

    .ogimage {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center center;
    }

    .post-content {
        display: grid;
        // grid-column: 12;
        grid-template-columns: 8fr 4fr;
    }
}

.content-preview {
    -webkit-line-clamp: 3;
    line-height: $post-line-height;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: $post-line-height * 3;
    font-size: 16px;

    @include themify {
        color: themed("descriptionTextColor");
    }
}

.tags-and-likes-container {
    padding: $base-padding * 1.5 0 0 0;

    .tags-container {
        display: flex;
        column-gap: 12px;
    }
}
